*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body {
    background-image: linear-gradient(45deg, #080808, rgb(57, 0, 131));
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: center;
    
    
    }

header {
    color: #fff;    
}
.fundo {
    background-image: linear-gradient(180deg, #0000003d, rgba(1, 1, 1, 0.777));
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.5s;
    /* Animação de entrada */
    opacity: 0; /* vai começar invisível */
    transform: translateY(30px); /* Começa um pouco para baixo */
    animation: fadeInUp 0.10s ease-out 0.3s forwards;
    }
.fundo:hover{
        background-color: #000000;
    }
    
.teclas, .teclas-zero, .teclas-igual {
    font-size: 20px;
    font-weight:bold;
    color: #ffffff;
    background-color: #1d1d1d;
    border: none;
    opacity: 0.8;
    cursor: pointer;
    transition: background-color 0.2s;
}
.teclas:hover, .teclas-zero:hover, .teclas-igual:hover {
    background-color: #000000a1;
}

.teclas {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 1px;
    width: 50px;
    height: 50px;
}

.teclas-zero {
    width: 102px;
    height: 50px;
}

.teclas-igual {
    width: 50px;
    height: 102px;
}

#Resultado {
    text-align: right;
    font-size: 15px;
    border: none;
    background-color: #ffffff;
    margin: 0px 0px 5px 10px;
    width: 210px;
    height: 40px;
    padding: 10px;
}
.calculadora {
    color: #ffffff;
    font-size: 20px;
    margin: 10px 10px 10px 0px;
}
#header {
    color: #ffffff;
    font-size: 20px;
    padding: 5px 200px 5px 5px;
}

/* AJUSTES PARA TELAS PEQUENAS (CELULAR) */

/* Definição da animação de entrada */
@keyframes fadeInUp {
    to {
        opacity: 1; /* Termina totalmente visível */
        transform: translateY(0); /* Termina na sua posição original */
    }
}
